<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!--打印到控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
            <!-- encoder 默认配置为PatternLayoutEncoder -->   
            
        <encoder>   
                  <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>   
                
        </encoder>
           
          
    </appender>

    <!-- 将日志写入数据库 -->
    <appender name="DB-CLASSIC-ORACLE-POOL" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
            <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
                <driverClass>oracle.jdbc.driver.OracleDriver</driverClass>
                <jdbcUrl>jdbc:oracle:thin:@127.0.0.1:1521:wemem</jdbcUrl>
                <user>docsysadmin</user>
                <password>Yhc5880908</password>
            </dataSource>
        </connectionSource>
    </appender>

    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
    <springProfile name="test,dev">
        <logger name="org.springframework.web" level="INFO">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="me.phoibe.doc.cms" level="INFO">
            <appender-ref ref="DB-CLASSIC-ORACLE-POOL"/>
        </logger>
    </springProfile>

</configuration>
