﻿﻿@charset "utf-8";
/*reset*/
body {
	font-size:16px;

}
body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hr, blockquote,
object, iframe, fieldset, input, legend, form, th, td {
	margin: 0;
	padding: 0
}

input, textarea, keygen, select, button, isindex {
	border: 0;
	outline: none;
	word-break: break-all;
	font-size: 14px;
	color: #e7e7e7;
}

ul, ol, li {
	list-style: none
}

img {
	border: none;
	display: block;
}

a {
	text-decoration: none;
	color:#000; /*#000;*/
	font-size:16px;
}

a:hover {
	text-decoration: none
}

input { [;
	line-height: 1;
]
}
/*common*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 20px
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 16px
}

h5 {
	font-size: 16px;
	color:#e7e7e7;
}

h6 {
	font-size: 14px
}

i, b, em {
	font-style: normal;
	font-weight: normal
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	/*background: #fff*/
}

td {
	padding: 3px 5px;
}

th {
	font-weight: normal;
	height: 40px
}

table, td, th {
	border: 1px solid #406587;
}

table caption {
	font-size: 16px;
	text-align: left;
	padding-bottom: 10px
}
#docmgr .main .r-content{
	border:none;
}
hr {
	border: 1px  solid #336a9e ;
}

.fl {
	float: left
}

.fr {
	float: right
}

.clearBoth {
	clear: both
}

.mc {
	margin: 0 auto
}

.pr {
	position: relative;
	*zoom: 1
}

.pa {
	position: absolute
}

.tc {
	text-align: center
}

.tl {
	text-align: left !important
}

.tr {
	text-align: right !important
}

.clearfix:after {
	content: "";
	height: 0;
	font-size: 0;
	*zoom: 1;
	display: block;
	clear: both;
}

.clear {
	clear: both;
}

body, html {
	width: 100%;
	height: 100%;
	/*background: url("../images/bg.png");*/
}

#index {
	background: url("../images/bg.png");
}

.box_border {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.box_content {
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.no_select {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.iconLeft {
	background-position: left center;
	background-repeat: no-repeat;
}

.w1920 {
	width: 100%;
	max-width: 1920px;
	min-width: 1580px;
	margin: 0 auto;
}

.main {
	position: relative;
	padding-top: 52px;
	margin-right:20px;
	max-width: 1920px;
	min-width: 1580px;
	background:url("../images/bg-2.png");
}

.main .header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	z-index: 2;
	background:url("../images/topbj.png");
	/*background:url("../images/header_bk.png");*/
	border-bottom:1px solid #4cd7ff;
	/*background-color: #1D6B99;*/
}

.main .header .headerTitle {
	width: 296px;
	margin-left: 8px;
	margin-top: 8px;
	height: 40px;
	background-image: url("../images/logo_text.png");
}
.main .header .logo {
	/*height: 88px;*/
	width:146px;
	height:60px;
	float:left;
	background-image: url("../images/logo.png");
}

.main .header  .headerIndex {
	line-height: 48px;
	font-size: 16px;
	color: #fff;
	height: 60px;
	padding-left: 28px;
	padding-right: 5px;
	margin-right: 8px;
	background-image: url("../images/index.png");
	cursor: pointer;
}
.main .header  .headerExit {
	line-height: 48px;
	font-size: 16px;
	color: #fff;
	height: 60px;
	padding-left: 28px;
	padding-right: 5px;
	margin-right: 35px;
	background-image: url("../images/icon-exit.png");
	cursor: pointer;
	/*-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;*/
}

.main .header  .headerPer {
	line-height: 48px;
	font-size: 16px;
	color: #fff;
	height: 60px;
	padding-left: 28px;
	padding-right: 5px;
	margin-right: 8px;
	background-image: url("../images/icon-p.png");
	cursor: pointer;
	/*-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;*/
}
.main .header  .headerExit:hover {
	color: rgba(255, 255, 255, 0.8);
}

.main .header .headerUsers {
	height: 48px;
	line-height: 60px;
	/*margin-top: 29px;*/
}

.main .header .headerUsers span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	margin-right: 10px;
}

.main .header .headerUsers span.iconUser {
	padding-left: 22px;
	background-image: url("../images/iconUser.png");
}

.main .header .headerUsers span.iconcomm {
	padding-left: 22px;
	background-image: url("../images/i-comm.png");
}



.main .navLeft {
	width: 240px;
	/*height: 100%;*/
	background-color: #062336;/*#333*/
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 4px;
	border:1px solid #4cd7ff;
	border-radius:3px;
	margin-top:70px;
	margin-left:10px;
	padding-left:8px;
	padding-bottom:38px;
	min-height:970px;
}

.main .navLeft .navList {
	height: 40px;
	line-height: 40px;
	text-align: left;
	/*padding: 0 10px;*/
	cursor: pointer;
	background: url("../images/bottomLine.png") no-repeat left bottom;
	background-size: 100% auto;
	background:#264663;
	margin-bottom:4px;
	width:210px;
}

.main .navLeft .navList div {
	height: 40px;
	line-height: 40px;
}

.main .navLeft li:hover {
	background-color: #2b597f;/*#424242;*/
}

.main .navLeft li.active {
	background-color: #2b597f;/*#424242;*/

}

.main .navLeft li.active span{

	color:#ffc92d;
}

.main .navLeft li span {
	margin-left: 40px;
	padding-left: 40px;
	display: inline-block;
	font-size: 16px;
	color: #fff;
}

.main .navLeft li span.iconIndex {
	background-image: url("../images/iconIndex.png");
	letter-spacing: 30px;
}

.main .navLeft li span.iconManagement {
	background-image: url("../images/iconManagement.png");
}

.main .navLeft li span.iconManagement {
	background-image: url("../images/iconManagement.png");
}

.main .navLeft li span.iconUser {
	background-image: url("../images/iconUser.png");
}

.main .navLeft li span.iconUpload {
	background-image: url("../images/iconUpload.png");
}

.main .navLeft li span.iconJoin {
	background-image: url("../images/iconJoin.png");
}
#title,#docname{
	width:260px;
}

.main .navLeft li span.iconcomm {
	background-image: url("../images/i-comm.png");
}


.main .navLeft li span.iconLabel {
	background-image: url("../images/iconLabel.png");
}

.main .navLeft li span.iconSystem {
	background-image: url("../images/iconSystem.png");
}

/*.main .navLeft .dateBox {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	margin-top: 70px;
	padding-top: 16px;
	color: #B1B1B1;
}

.main .navLeft .dateBox div {
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}*/

.main .container .page {
	display: none;
	padding-top: 40px;
}

.main .container .show {
	display: block;
}

.main .container {
	/*overflow: scroll;*/
}

.main .container .bg_whiteSD {

	/*background-color: #fff;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);

    /*background:#172b3c;*/

}
#index-m .content{
	/*border-top:1px solid #2c3d4c;*/
}
#index-m .search{
	margin-bottom:10px;
	border:none !important;
}

#search-key{
	background: #133049;
}
#index-m .bg_whiteSD {
	border: 1px solid #3890ae;
}
#index-m .list4{
	padding-top:20px;
}

.main .container .search {
	text-align: center;
	padding: 15px 20px;
	/*padding-top: 32px;
	max-width: 1500px;*/
}

#docmgr .search{}
.main .container .search .inputBox {
	width: 710px;
	margin: 0 auto;
	height: 54px;
	line-height: 34px;
}
.popup .title{
	/*background:#0d4d81;*/
	overflow: hidden;
	color:#ffffff;
}
.pop-btn{
	width:100%;
	margin-top:10px;
}
.line_two_li li,.line_two_li ul{
	float: left;
	line-height: 28px;
	margin-top: 2px;
	margin-left:4px;
	margin-right:4px;
	color: #c7c7c7;
}
.line-li{
	/*float: left;*/
	margin-right: 5px;
	text-decoration: underline;color: #248EFF;padding: 0 5px;}
.line-li a{
	color:#c7c7c7;
	line-height:30px;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	text-decoration: none;
}
.line-li .acheck {
	background-color:#248EFF;color: white;
}
.main .container .search .inputBox input {
	float: left;
	border: 1px solid #6ca5e7;
	padding-left: 10px;
	padding-right: 34px;
	background: url("../images/iconSearch.png") no-repeat;
	background-position: 530px center;
	/*background-color: #ECF2EF;*/
	color: #a0a0a0;
	font-size: 14px;
	width: 558px;
	height: 34px;
	line-height: 34px; [;
	line-height: 1;
]
}

.main .container .inputblock {
	text-align: left;
}
.r-content .list-content{
	padding: 15px 20px;
}
.main .container .inputblock input, select {
	height: 32px;
	line-height: 34px;
	display: inline-block;
	border: 1px solid #6ca5e7;
	margin-left: 4px;
	margin-right:4px;
	background:#133049;;/*#142f47;*/
}

/*.main .container .search .inputBox*/
.btnSearch {
	width: 70px;
	height: 34px;
	line-height: 34px;
	cursor: pointer;
	float: right;
	background: url("../images/searchBtn.png") no-repeat;
	display: inline-block;
}

.checkList {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	padding-top: 20px;
}

.u-con-list {
	width:940px;
	font-size:14px;
}

.u-con-list li.label {
	float: left;
	width: 18%;
	line-height: 30px;
	color:#999999;/*#c9c9c9;*/
}

.u-con-list li{
	float: left;
	/*width: 430px;*/
	/*line-height: 30px;*/
	padding: 2px;
}
textarea{
    background: #133049;
	border: 1px solid #5e9dd9;
}
.u-con-list li input,select{
	line-height: 28px;
	border: 1px solid #5e9dd9;
	background: #133049;
	color:#e7e7e7;
	margin: 0;
	padding: 0;
	float: left;
	width: 255px;
}
.formradio{
	width: 60px;
	float: left;
	color: #fff
}
.u-con-list .one-line{
	width: 99%;
	line-height: 24px;
	margin: 2px 4px;
}
.u-con-list .one-line .label {
	float: left;
	width: 140px;
	line-height: 30px;
	color: #e7e7e7;
	text-align: right;
	padding-right: 10px;
}
.u-con-list .one-line .tag-ul li{
	width: auto;
	padding: 1px 4px;
	line-height: 21px;
	/*margin-top: 2px;*/
	/*margin-bottom: 2px;*/
	height: 21px;
	margin-top: 3px;
}
.main .container .search .checkList li {

	font-size: 14px;
	height: 20px;
	line-height: 20px;
	position: relative;
	padding-left: 14px;
	background-image: url("../images/iconNoCheck.png");
	background-position: left center;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-top: 6px;
	margin-right: 4px;
	float: left;
}

.main .container .search  .checkList li.check {
	background-image: url("../images/iconCheck.png");
}

.main .container .content {
	width: 100%;
	padding: 15px 0px;
	position: relative;
}

.main .container .content .left {
	width:-webkit-calc(100% - 335px);
	width:-moz-calc(100% - 335px);
	width:calc(100% - 335px);
}
.rightAb {
	position: absolute;
	top: -14px;
	right: 2px;
	width: 319px;
}

.main .container .content .left .bg_whiteSD {
	padding: 10px 20px;
	margin-bottom: 10px;
	overflow: hidden;
}
/*.main .container .content .left*/
.plateHeader {
	height: 30px;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: left center;
}

.i-sign {
	background-image: url("../images/i-sign.png");
	background-position: left center;
	background-repeat: no-repeat;
}
.main .container .content .left .jingpin {
	/*background-image: url("../images/iconJingpin.png");*/
	color:#000000;
	font-size:16px;

	padding-left:16px;
}

.main .container .content .left .resou {
	/*background-image: url("../images/iconResou.png");*/
	color:#000000;
	font-size:16px;
	padding-left:16px;

}

.main .container .content .dataword {
	width: 319px;
	height: 176px;
	background:#ffffff;
	/*background: url("../images/datawordBg.png");*/
	border:1px solid #aaaaaa;
	margin: 15px 0;
	text-align: center;
	padding-top: 12px;
	padding-bottom:16px;

}

.font22 {
	font-size: 22px;
	color: #00f0ff;/*#1D6B99;*/
	height: 38px;
	line-height: 38px;
}
.font16 {
	font-size: 16px;
	/*color: #1D6B99;/*#00f0ff;*/
	height: 38px;
	line-height: 38px;
}


.main .container .content .dataword .font18 {
	font-size: 18px;
	color: #0f2e45;
	height: 38px;
	line-height: 38px;
	width: 120px;
	margin: 0 auto;
	padding-left: 10px;
}

.bkline {
	background:url("../images/line.jpg") no-repeat;
	height:2px;
	width:90%;
	margin:0 auto;
}
.line {
	clear:both;
	border-bottom:1px solid #5e90ca;/*#fffdfe;;*/
}

.main .container .content .dataword div.font16 {
	color: #222;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
}

.main .container .content .rightAb .bg_whiteSD {
	/*padding-bottom: 20px;*/
	margin-bottom: 12px;
}

#index-m .main, #tagmgr .main, #sysmgr .main,#docmgr .main{
	padding-left: 0px;
	padding-top: 20px;
	/*border: 1px solid #328ba9;*/
	background: url("../images/bg-2.png");
	height:970px;
}
#docmgr .main,#stockmgr .main,#auditupload .main,#percenter .main, #docdetail .main{
	padding-top:20px;
}

ul.list3 {
	margin-top: 8px;
	margin-left:4px;

	overflow:hidden;
}

ul.list3 li {
	width: 30%;
	text-align: left;
	float: left;
	line-height: 24px;
	padding-left: 6px;
}
.idx_box_list {
	overflow: hidden;
	height: 100%;
	/*padding-right:10px;*/
	padding-bottom:10px;
	margin-top:30px;

}
#upload {
	width: 138px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: url("../images/fileupload.png") no-repeat;
	float: right;
	margin-top: 10px;
}
#borwse {
	width: 138px;
	height: 40px;
	cursor: pointer;
	float:left;
	background: url("../images/browse.png") no-repeat;
}
#doneUpload {
	 width: 138px;
	 height: 40px;
	 cursor: pointer;
	 background: url("../images/doneUpload.png") no-repeat;
	float: right;
 }
#myFavorite {
	  width: 138px;
	  height: 40px;
	  cursor: pointer;
	  background: url("../images/myFavorite.png") no-repeat;
	float:left;
  }
#pizhu {
	   width: 138px;
	   height: 40px;
	   cursor: pointer;
	   background: url("../images/pizhu.png") no-repeat;
	   float:right
   }
.popup .line{;
	/*border-bottom: 1px dotted #5e90ca;*/
}
.formradio label input{
	margin-top:6px;
}
.idx_box_list .title {
	line-height: 38px;
	height: 38px;
	padding-left:8px;
	color:#e7e7e7;
}

.star {
	background: url("../images/star.png") no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.i-star {
	background: url("../images/iconstar.png") no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.index-head-bg {
	width: 319px;
	height: 126px;
	background: url("../images/index-head-bg.png");
	padding-left: 30px;
}

.index-head-bg .userName {
	font-size: 18px;
	color: #1D6B99;
	line-height: 120px;
	padding-left: 20px;
}

.index-head {
	width: 82px;
	height: 82px;
	margin-left: 10px;
	padding-top: 18px;
	float: left;
}

.doc {
	background: url("../images/doc.png") no-repeat;
	display: inline-block;
	width: 18px;
	height: 18px;
    /*float:left;*/
	vertical-align: middle;
}

.doc-title {
	font-size: 18px;
	line-height: 30px;
	color:#226c97;
}

#doc-property li {
	color:#000;
}
.pdf {
	background: url("../images/pdf.png") no-repeat;
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

.exls {
	background: url("../images/flash.png") no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.list1 {
	float: left;
	padding-left: 6px;
	line-height: 34px;
	height: 28px;
}

.col3 {
	width: 30%;
	float: left;
	min-height: 80px;
	margin-left: 2%;
}

.row {
	width: 100%;
	clear: both;
	line-height: 40px;
	margin-top:10px;
	/*height: 100%;
	margin-bottom: 10px;*/
	border-bottom:1px dashed #33526e;/*1px solid #5e90ca;*/
	overflow: hidden;
}

.row .title {
	font-size: 16px;
	/*font-weight: bold;*/
	color:#000000 !important;
}

.row ul li {
	float: left;
	padding-right: 18px;
	padding-bottom: 10px;
	color: #999999;
}

.i-mypizhu{
	background-image: url("../images/i-mypizhu.png");
}
.i-docmgr {
	background-image: url("../images/iconDocmgr.png");
	margin-bottom: 16px;
}
.i-mydocupload{
	background-image: url("../images/i-myuploaddoc.png");
	/*margin-bottom: 16px;*/
}
.main .container .top {
	min-width: 900px;
	/*padding-top: 32px;
	max-width: 1500px;*/
}

#docdetail .main .r-content,#auditupload .main .r-content,#stockmgr .main .r-content{
	height:970px;
}
#docdetail .left {
	width: 650px;
	float: left;
}

#docdetail .right {
	width: 200px;
	float: right;
	vertical-align: middle;
}

#docdetail .right .download {
	background-image: url("../images/down.png");
	width: 88px;
	height: 34px;
	float: left;
	margin-top: 30px;
	cursor: pointer;
	margin-left: 10px;
}

#docdetail .right .favorite {
	background-image: url("../images/favorite.png");
	width: 88px;
	height: 34px;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}
#docdetail .right .favorite_ok {
	background-image: url("../images/favorite_ok.png");
	width: 88px;
	height: 34px;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}
#docdetail .right .attention {
	background-image: url("../images/attention.png");
	width: 88px;
	height: 34px;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}
#docdetail .right .attention_ok {
	background-image: url("../images/attention_ok.png");
	width: 88px;
	height: 34px;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}

.submit {
	background: url("../images/submit.png") no-repeat;
	width: 88px;
	height: 34px;
	margin-top: 30px;
	cursor: pointer
}
.file_submit {
	background: url("../images/submit.png") no-repeat;
	width: 88px;
	height: 34px;
	margin-top: 30px;
	cursor: pointer
}
.stopBtn{color:#e7e7e7;line-height: 30px;}
.relartile{padding-top:8px;}
#docdetail .u-con-list{width:500px;}
.filelist_submit {
	background: url("../images/submit.png") no-repeat;
	width: 88px;
	height: 34px;
	margin:0 auto;
	margin-top: 30px;
	cursor: pointer
}
.role_submit {
	background: url("../images/submit.png") no-repeat;
	width: 88px;
	height: 34px;
	margin-top: 30px;
	cursor: pointer
}
#owner {
	/*width: 120px;*/
}

#size {
	width: 60px;
}

#score {
	width: 60px;
}

#comment {
	width: 60px;
}

#format {
	width: 60px;
	color:#e7e7e7;
}

#date {
	width: 150px;
}

.d-content {
	width: 100%;
	background: #f6f6f6;
	/*padding-right: 10px;*/
	border: 1px solid #5e90ca;
	overflow: hidden;
	height: 100%;
}

#docdetail .d-content .left {
	width: 180px;
	min-height: 300px;
	border-right: 1px solid #cccccc;
}

.d-content .dtitle {
	background: #1cb19b;
	height: 40px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	height: 40px;
}
.desc {
	color:#9c9c9c;
	line-height:30px;
	font-size:14px;
}
.d-content .right {
	width: 800px;
}

#comm .row {
	margin-top: 14px;
	line-height: 36px;
	font-size: 16px;
}

#comm .row .name {
	color: #1d6b99;
}

#comm .row .com-date {
	margin-left: 20px;
}

#comm .row #doctitle {
	clear: both;
}

#commcontent {
	margin-left: 10px;
}

#comm-content {
	border:1px solid #5e90ca;
}
#comment-content {
	width: 100%;
	height: 58px;
	border: 1px solid #28779c;
	margin-top:4px;
}

#comm-title {
	margin-top: 10px;
	width: 80px;
	height: 30px;
	padding-left:20px;
	/*border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;*/
	line-height: 30px;
}

.tab-bc {
	border-bottom: 1px solid #cccccc;
}

.imghead {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

#com-score {
	line-height: 30px;
	font-size: 16px;
	float: left;
	width:100%;
}

.scoreremark ul {
	padding-left: 0;
	overflow: hidden;
}

.scoreremark ul li {
	float: left;
	list-style: none;
	width: 20px;
	height: 20px;
	background: url(../images/ico.png)
}

.scoreremark ul li a {
	display: block;
	width: 100%;
	padding-top: 26px;
	overflow: hidden;
}

.scoreremark ul li.light {
	background: url(../images/star.png)
}

.i-percener {
	background-image: url("../images/ipercener.png");
	margin-bottom: 16px;
}

.i-audit {
	background-image: url("../images/auditupload.png");
	margin-bottom: 16px;
	cursor: pointer;
}

.sidebar {
	width: 100%;
	margin: 0 auto;
}

.inline-ul {
	font-size: 0; /* 所有浏览器 */
	*word-spacing: -1px; /* IE6、7 */
}

.inline-ul ul li {
	font-size: 14px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
	.inline-ul {
		letter-spacing: -5px; /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
	}
}

.widget-title {
	font-size: 13px;
	font-weight: normal;
	color: #888888;
	/*padding: 20px 20px 0px;*/
}

.widget-tab .widget-title {
	font-size: 0;
}

.widget-box li {
color:#e9e9e9;
}

.widget-tab .widget-box {
	/*background: #ffffff;*/
	padding:10px;
	border: 1px solid #406587;/* #aaaaaa;*/
	padding-left:0px;
    margin-top:10px;
}

.widget-tab .widget-title ul li {
	overflow: hidden;
	margin-right: 10px;
	width: 136px;/*20%;*/
    height:43px;
	text-align: center;
    cursor:pointer;
    background: url("../images/tabSelect.png");
}

.widget-tab .widget-title ul li:hover {
	/*background: #0d4d81;*/
	color:#ffffff;
	/*line-height:22px;*/
}

.widget-tab .widget-title label {
    /*background: url("../images/tabSelect.png");*/
    cursor:pointer;
    width: 136px;
    font-size: 18px;
    padding: 10px 1%;
    font-weight: initial;
    line-height: 40px;
    /*background: url("../images/tabSelect.png");*/
}

.widget-tab .widget-title ul li.active {
	background:#21a9c4; /*#F7F7F7*/
}

.widget-tab input {
	display: none
}

.widget-tab .widget-box ul {
	display: none
}

#new:checked ~ .widget-title .new, #hot:checked ~ .widget-title .hot,
#random:checked ~ .widget-title .random,#attention:checked ~ .widget-title .attention,
#done:checked ~ .widget-title .done, #check:checked ~ .widget-title .check{
	background: #0d4d81;
	border: 1px solid #21a9c4;
	/*border-bottom: 1px solid #ffffff;*/
	color: #ffffff;
	font-weight: bold;

    background: url("../images/tabChecked.png");
}

#new:checked ~ .widget-box .new-list, #hot:checked ~ .widget-box .hot-list,
#random:checked ~ .widget-box .random-list,#attention:checked ~ .widget-box .attention-list {
	display: block;
	height: 150px;

}
.random-list,.attention-list,.hot-list{
	overflow-y: auto;
}
.random-list .list1,.attention-list .list1,.hot-list .list1{
	line-height: 30px;
}
#done:checked ~ .widget-box .done-list, #check:checked ~ .widget-box .check-list{
	display: block;
	height: 40px;

}
.widget-box ul li a {
	padding-left: 6px;
    color:#e7e7e7;
}
.list-del{
	cursor:pointer;
}

.aduit {
	background-image: url("../images/audit.png");
	width: 130px;
	height: 35px;
	display: inline-block;
	cursor: pointer;
}

.delstock {
	background-image: url("../images/delstock.png");
	width: 129px;
	height: 36px;
	display: inline-block;
	cursor: pointer;
}

#newfolder {
	background: url("../images/newfolder_unsel.png") no-repeat;
	line-height: 20px;
	margin-top: 20px;
	padding-left: 20px;
	color: #787474;
	cursor: pointer;
	font-size: 14px;
	display: inline-block;
}

/*#del {
	background: url("../images/delfile_unsel.png") no-repeat;
	line-height: 20px;
	margin-top: 20px;
	padding-left: 20px;
	cursor: pointer;
	color: #787474;
	font-size: 14px;
	display: inline-block;
}

#move {
	background: url("../images/movefile_unsel.png") no-repeat;
	line-height: 20px;
	margin-top: 20px;
	padding-left: 20px;
	color: #787474;
	cursor: pointer;
	font-size: 14px;
	display: inline-block;
}
*/
#uploadfile {
	width: 180px;
	height: 40px;
	line-height: 50px;
	cursor: pointer;
	background: url("../images/fileupload.png") no-repeat;
	text-align: center;
	display: block;
	margin: 0 auto;
	float:right;
}

.addstock {
	background-image: url("../images/addstock.png");
	width: 130px;
	height: 36px;
	display: inline-block;
	cursor: pointer;
}

.reback {
	background-image: url("../images/reback.png");
	width: 88px;
	height: 35px;
	display: inline-block;
	cursor: pointer;
}
#docmgr-content {
	/*background:#fff;*/
	padding-left:4px;
	border:1px solid #406587;
}
#docmgr-content .row .title {
	color:#ffffff !important;
}
#docmgr-content .row:hover{
	cursor:pointer;
	/*background:#cccccc;
	padding:0px;*/
}
#docmgr-content .row ul li {
	color:#9c9c9c;
	padding-bottom:0px;
}

.doc-row{
	margin-left:8px;
}

.i-commgr {
	background-image: url("../images/commgr.png");
	width: 150px;
	height: 34px;
	margin-bottom: 16px;
}
.i-tagmgr {
	background-image: url("../images/tagmgr.png");
	width: 150px;
	height: 34px;
	margin-bottom: 16px;
}

.i-dicmgr{
	background-image: url("../images/dicmgr.png");
	width: 150px;
	height: 34px;
	margin-bottom: 16px;
}

.i-usermgr {
	background-image: url("../images/usermgr.png");
	width: 150px;
	height: 34px;
	margin-bottom: 16px;
}
.i-logmgr {
	background-image: url("../images/logmgr.png");
	width: 150px;
	height: 34px;
	margin-bottom: 16px;
}
.i-stock {
	background-image: url("../images/stock-t.png");
	margin-bottom: 16px;
	cursor: pointer;
}

/*#auditupload */
.tblist {
	width: 100%;
	text-align: center;
	border:1px solid #1c4b73;
	color:#000000;
}
.tblist-header {
	/*border:1px solid #3d7194;*/
}
#tblist-body tr td {
	text-align:center;
	font-size:16px;
    color:#e7e7e7;
}

#tblist-body .d-title{
	text-align: left;
}
#tblist-body tr td a {
	color:#e7e7e7;
}

.f-blue {
	color: #21bca8;
}

.f-red {
	color: #ff0000;
}

/*#auditupload */
.tblist tr th {
	color:#fff;
	font-size:18px;
	line-height:46px;
}

/*.tblist tr:nth-child(even){background:#192229;}
.tblist tr:nth-child(odd){background:#122e45;}*/



.tblist input[type="radio"] {
	width: 14px !important;
	height: 14px !important;
	margin-top:2px;
}

#docmgr .top {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.border-l {
	border: 1px solid #cccccc;
	padding: 20px;
}

ol.list1 {

	display: block;
}

.widget-box .col3 {
	margin-top: 0px;
}

.bodyMask {
	/* height: 100%; */
	width: 100%;
	display: none;
}
.file_bodyMask {
	/* height: 100%; */
	width: 100%;
	display: none;
}
.filelist_bodyMask {
	/* height: 100%; */
	width: 100%;
	display: none;
}
.role_bodyMask {
	/* height: 100%; */
	width: 100%;
	display: none;
}
.roleCheckbox li{
	/* height: 100%; */
	float: left;
	margin-right: 20px;
}
#doenlist{
	display: none;
}
#index .mask {
	height: auto;

}
.mask {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	font-size: 14px;
}

.mask .popup {
	display: inline-block;
	background-color: #0f1a24;
	padding-bottom: 20px;
	vertical-align: middle;
	min-width: 600px;
	margin-top: 150px;
    border:1px solid #4cd7ff;
}

.role_bodyMask .popup{
	width: 500px;
	padding-bottom: 20px;
}

.export_bodyMask {
	/* height: 100%; */
	width: 100%;
	display: none;
}
.son_bodyMask {
	/* height: 100%; */
	width: 100%;
	display: none;
}
#editBtn{
	display: none;
}
#tblist-body tr:hover{ background: #265362;color:#ffffff;} /*鼠标悬停后表格背景颜色*/
#tblist-body tr:hover a{ color:#ffffff;}

.mask span.fullScreen {
	height: 70%;
	vertical-align: middle;
	display: inline-block;
}

.model-title {
	font-size: 18px;
	padding: 10px;
	text-align: left;
	padding-left: 20px;
}

.tbl-row {
	/*width: 100%;*/
	text-align: left;
	line-height: 34px;
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	clear: both;
}

.tbl-row .lable {
	width: 30%;
	float: left;
	font-size:16px;
    color:#e7e7e7;
}

.tbl-row .ctrl {
	float: right;
	width: 70%;
}

.tbl-row .ctrl select {
	margin-left: 0px;
	background:#ffffff;
	border:1px solid #cccccc;
	width:160px;
	color:#e7e7e7;
}
.userpostil{
	height: 260px;

	overflow: hidden;
}
.postil-fixed-box{top: 48px;height: 220px;overflow-y: auto;}

.tbl-row .ctrl .inputBox {
	width: 80%;
	border: 1px solid #5e9dd9;
	line-height: 28px;
	height: 28px;
    background:#133049;
}

.closed {
	background: url("../images/closed.png") no-repeat;
	width: 20px;
	height: 20px;
	margin-top: 18px;
	margin-right: 20px;
	cursor: pointer;
}

#newfolder:hover {
	background: url("../images/newfolder.png") no-repeat;
	color: #21bca8;
}

#del:hover {
	background: url("../images/delfile.png") no-repeat;
	color: #21bca8;
}

#move:hover {
	background: url("../images/movefile.png") no-repeat;
	color: #21bca8;
}

.row-id {
	display: none;
}

#tblist-body tr {
	line-height: 26px;
	height: 26px;
}

#tblist-body tr td {
	padding-left: 4px;
	line-height:40px;
}
#tblist-body tr td:first-child>input  {
	width: 18px;
}

ul.search-con li
{
	float:left;
	margin-bottom:10px;
	margin-left: 10px;
	color:#e7e7e7;
}

ul.search-con li .btnSearch{
	margin-left:10px;
}

#doc-content {
	width: 100%;
	/*background:#ffffff;*/
	height:330px;
	overflow-y: auto;
}

#doc-content p {
	font-size: 16px;
	word-break: break-all;
	text-align: left;
	text-indent: 2em;
	padding: 10px;
	line-height: 28px;
	color:#aaaaaa;
}

#doc-property {
	font-size: 16px;
	padding-top: 15px;
}


.tblist {
	width: 100%;
	margin: 0 auto;
}

.tblist tr td {
	height: 32px;
	line-height: 32px;
}

.btn-cmd-list {
	/*margin-left: 16px;*/
	height: 40px;
}
#mycomm{
	background: url("../images/i-comm.png") 20px 8px no-repeat #2D93CA;
	line-height: 24px;
	height: 24px;
	border-radius: 3px;
	margin-left: 20px;
	float: left;
	padding-left: 46px;
	color: #e7e7e7;
	width: 76px;
}


.btn-cmd-list a {
	padding: 6px 10px 6px 10px;
	cursor: pointer;
}

.btn-cmd-list a:hover {
	background: #21bca8;
	color: #ffffff;
}

.chksel {
	width: 50px;
}

.ul-img img {
	width: 40px;
	height: 40px;
}

.ul-header {
	width: 100%;
	line-height: 20px;
	height: 48px;
	margin-top: 6px;
	color:#000;
}

.ul-header-right {
	padding-left: 8px;
}

.list1 {
	width: 100%;
	margin-left: 4px;
}

.dw-bk {
	width:100%;
	padding: 12px;
	padding-top:10px;
}
.dw-bk li{
	width: 140px;
	line-height: 23px;
	padding: 5px 5px;
	font-size: 16px;
	margin: 0px 0px;
	float: left;
	text-align: left;
}
.dw-bk li a{
	color: #FF5722;
	cursor: pointer;
}
.ul-header-docnum {
	color:#226c97; /*#226c97;*/
}

#resou-doc .col3 {
	height: 160px;
}

.tag-li {
	float: left;
	width: auto;
	height: 26px;
	line-height: 26px;
	border: 1px solid #6ca5e7;
	padding: 0px 8px;
	border-radius: 6px;
	cursor: pointer;
	margin: 1px 4px;
	color:#e7e7e7;
}

.tag-li-in {
	/*background-color: #b3e882;*/
	color: #f8f6fb;
	background-color: #6eb7fc;
}

#docdetail .right .perview {
	background-image: url("../images/perview.png");
	width: 88px;
	height: 34px;
	float: left;
	margin-top: 30px;
}
.btn-back{
	color: #ffffff;
	border: 1px solid #1490a3 !important;
	background:#1490a3;
	float: right;
	margin: 10px;
}
.btn-default {
	background: #00a2d4;
	line-height: 24px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	cursor: pointer;
}
#btnadd {
	background: url("../images/btnadd.png") no-repeat left center;
	line-height: 24px;
	background-position:8px 8px;
	border: 0;
	padding-left: 30px;
	/*margin-top: 30px;*/
	display: inline-block;
	cursor: pointer;
	background-color:#226c97;
	border-radius:3px;
	color:#e8f0f4;
}

#btnnewfolder {
	background: url("../images/btnadd.png") no-repeat left center;
	line-height: 24px;
	background-position:8px 8px;
	border: 0;
	padding-left: 30px;

	display: inline-block;
	cursor: pointer;
	background-color:#226c97;
	border-radius:3px;
	color:#e8f0f4;
}

#btnmove {
	background: url("../images/btnmove.png") no-repeat left center;
	line-height: 24px;
	background-position:8px 8px;
	border: 0;
	padding-left: 30px;
	display: inline-block;
	cursor: pointer;
	background-color:#226c97;
	border-radius:3px;
	color:#e8f0f4;
}

#btnmodify {
	background: url("../images/btnedit.png") no-repeat left center;
	line-height: 24px;
	background-position:8px 8px;
	border: 0;
	padding-left: 30px;
	display: inline-block;
	cursor: pointer;
	background-color:#226c97;
	border-radius:3px;
	color:#e8f0f4;
}
#btnbackup{background: url("../images/btnbackup.png") no-repeat left center;
	background-position:8px 8px;
	background-color:#226c97;/*#fc0b0d;*/
	line-height: 24px;
	border: 0;
	color:#e8f0f4;
	padding-left: 32px;
	display: inline-block;
	cursor: pointer;
	border-radius:3px;}
#btnexport{background: url("../images/btnexport.png") no-repeat left center;
	background-position:8px 8px;
	background-color:#226c97;/*#fc0b0d;*/
	line-height: 24px;
	border: 0;
	color:#e8f0f4;
	padding-left: 30px;
	display: inline-block;
	cursor: pointer;
	border-radius:3px;}
#btndel {
	background: url("../images/btndel.png") no-repeat left center;
	background-position:8px 8px;
	background-color:#226c97;/*#fc0b0d;*/
	line-height: 24px;
	border: 0;
	color:#e8f0f4;
	padding-left: 30px;
	display: inline-block;
	cursor: pointer;
	border-radius:3px;
}

#nav_title {
	width: 200px;
	float: left;
	background-color: royalblue;
	position: relative;
}

#nav_title_btn {
	font-size: 16px;
	width: 96%;
	height: 50px;
	background-color:#072a45; /*#333;*/
	line-height: 50px;
	text-align: center;
	color: #01cbda;
	cursor: pointer;
	border-radius:3px;
	border:1px solid #01cbda;
	border-top:0px ;
	margin-top:-4px;
	margin-bottom:10px;
}

#nav_title_dsp {
	color: #ffffff;
	width: 40px;
	height: 50px;
	background-color: darkgoldenrod;
	position: absolute;
	cursor: pointer;
	left: -50px;
	line-height: 50px;
	text-align: center;
}

#main-content {
	padding-left: 260px;
	height:997px;
	overflow:hidden;
}

.nav_shrink {
	background: url("../images/nav_shrink.png") no-repeat;
	width: 30px;
	height: 20px;
	float: right;
	line-height: 50px;
	margin-top: 4px;
}
.uplaodTaskBox {
	cursor: pointer;
	margin-top:20px;
	background-color: #8C8585;
	line-height: 30px;
	font-size: 16px;
	color: white;
	text-align: center;
	margin-right:20px;
}
.uploadTaskListBox {
	/*height: 100%;*/
	width: 100%;
	display: none;
}
.uploadTaskListBox .popup{
	position: absolute;
	top: 40%;
	left: 35%;
}
.loaddingBox{
	width: 100%;
	display: none;
}
.loaddingBox .loadingimg{
	background: url("../images/loading.gif") no-repeat;
	height:32px;
	width:32px;
	margin: 0 auto;
	margin-top: 20%;
}
.nav_arrow {
	background: url("../images/nav_arrow.png") no-repeat;
	height:220px;
	width:16px;
	margin-top:40%;
	cursor:pointer;
}
.dateBox {
	color:#a7dbf1;
	border:1px solid #28779c;
	border-radius:3px;
	line-height:32px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right:10px;
	margin-top:14px;
}
.per-10 {
	width:10% !important;
}
.per-5 {
	width:5% !important;
}
.per-30 {
	width:30% !important;
}
.per-50 {
	width:50% !important;
}
.per-60 {
	width:60% !important;
}
.per-40 {
	width:40% !important;
}
.per-15 {
	width:15% !important;
}
#zgzhanfa{
	height:100px;
}
#zgzhanfa li a {
	padding-left:4px;
	color: #226c97;
}
#curtime {
	font-size:18px;
}

.main .r-content {
	height:990px;
	padding: 10px 15px;
    border:1px solid #328ba9;
}
#index-m .r-content{
    border:none;
}

#condif {
	width:100px;
	color:#c7c7c7;
	/*color:#ffffff;*/
	font-size:14px;
	cursor:pointer;
}
#docmgr,#tagmgr {
	min-height:640px;
}

#condwhere .mask .popup {
	margin-top:100px;
}
.info_div{

}
.info_divleft{
	float: left;
	width: 260px;
	margin-right: 10px;
}
.profile-intro {
	padding: 16px 16px 16px 16px;
	border-bottom: 1px solid #e3e3e3;
	height: 35px;
}
.avatar-box{
	margin-left: 8px;
	float: left;
}
.user-info{
	width: 108px;
	margin-left: 8px;
	float: left;
}
.opt-box{
	width: 38px;
	margin-left: 8px;
	float: left;
}
.btn {
	padding: 0 4px;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	text-align: center;
	border: none;
	line-height: 25px;
	min-width: 42px;
	cursor: pointer;
}
.btn:hover{
	/*background-color: #1BD4CE;
	*/
	background-color: #226c97;
	color: #ffffff !important;
	border: 1px solid #cccccc !important;

}
.btn-attention{
	/*color: #ca0c16 !important;*/
	background:#1490a3;
	color:#e7e7e7;
	/*border: 1px solid #ca0c16 !important;*/
}
.btn-download{
	color: #e7e7e7 !important;
	/*border: 1px solid #ca0c16 !important;*/
	background:#226c97;
	margin-left: 20px;
}
.btn-uploadpostil{
	color: #e7e7e7 !important;
	/*border: 1px solid #ca0c16 !important;*/
	margin-left: 20px;
	background:#226c97;
}
.btn-preview{
	color: #e7e7e7;
	background:#226c97;
	/*border: 1px solid #ca0c16 !important;*/
	margin-left: 20px;
}
.btn-favorite{
	/*color: #ca0c16 !important;
	border: 1px solid #ca0c16 !important;*/
	background:#1490a3;
	color:#e7e7e7;
	margin-left: 20px;
}
.btn-submit{
	color: #ca0c16 !important;
	border: 1px solid #ca0c16 !important;
	margin: 5px 20px 0px ;
	float: right;
}

.main-box{
	height: 990px;
}
.data-info {
	padding: 10px 10px;
	height: 40px;
}
#asideProfile .data-info .count {
	font-weight: 700;
}
.data-info dl{
	float: left;
	padding: 0px 15px;
}
.aside-box {
	margin-bottom: 8px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
div.aside-box h3.aside-title {
	font-size: 16px;
	color: #3d3d3d;
	background: #f5f5f5;
	padding: 0 12px;
	height: 38px;
	line-height: 38px;
}
div.aside-box div.aside-content {
	padding: 6px 16px;
}
#asideNewArticle,#asideHotArticle{
	height: 300px;
}
#asideCategory ul li, #asideNewArticle ul li,#asideHotArticle ul li{
	margin-top: 4px;
}
#asideCategory ul li a,#asideNewArticle ul li a , #asideHotArticle ul li a {
	color: #c88326;
}
.content_divcontent{
	float: left;
	width:-webkit-calc(100% - 273px);
	width:-moz-calc(100% - 273px);
	width:calc(100% - 273px);
}
.content_div{
	margin-bottom: 8px;
	/*background-color: #fff;*/
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
.comment_div{
	margin-bottom: 8px;
	/*background-color: #fff;*/
	border:1px solid #406587;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
	height: 307px;
	padding: 5px 25px 0px;
}
.commentinput_div{
	margin-bottom: 8px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
	/*padding: 2px 16px 9px;*/
}
div.blog-content-box {
	padding: 0 24px 16px;
	color:#e7e7e7;
	border:1px solid #406587;
}
div.blog-content-box .article-header-box {
	border-bottom: 1px dashed #394e60;
	padding-top: 16px;
}
div.blog-content-box .article-header-box .article-header div.article-title-box .title-article {
	margin: .67em 0;
	word-wrap: break-word;
	color: #e7e7e7;
}
div.blog-content-box .article-header-box .article-header div.article-info-box {
	padding-bottom: 8px;
	position: relative;
}
div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top span {
	margin-right: 14px;
}
div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .follow-nickName {
	color: #78a5f1;
}
div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .space {
	margin-top: 6px;
	margin-bottom: 4px;
}
div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .tags-box {
	margin-bottom: 8px;
	font-size: 14px;
}
div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top a.tag-link {
	display: inline-block;
	margin-right: 24px;
	color: #79a5e5;
	word-wrap: break-word;
}
.comment-list-box ul.comment-list {
	margin-top: 8px;
	border-bottom: 1px dashed #394e60;
	height: 45px;
	margin-bottom: 12px;
}
.comment-list-box h3{
	color:#e7e7e7;
}
.comment-list-box ul.comment-list li.comment-line-box {
	position: relative;
	margin-bottom: 8px;
}
.comment-list-box ul.comment-list li.comment-line-box div.right-box {
	width: 96%;
}
.comment-list-box ul.comment-list li.comment-line-box div.right-box div.info-box {
	line-height: 34px;
	margin-bottom: 4px;
	word-wrap: break-word;
	color: #999;
}
.comment-list-box ul.comment-list li.comment-line-box div.right-box div.info-box .comment {
	color: #e7e7e7;
	font-size: 16px;
	margin-left: 0;
}
.comment-list-box ul.comment-list li.comment-line-box div.right-box div.info-box span {
	margin-left: 16px;
	font-size: 16px;
	color: #e7e7e7
}
.comment-list-box ul.comment-list li.comment-line-box div.right-box div.info-box .date, .comment-list-box ul.comment-list li.comment-line-box div.right-box div.info-box .floor-num {
	font-size: 12px;
	color: #999;
}
.recommend-right {
	float: left;
	width: 263px;
	height: 948px;
	margin-left: 8px;
	border: 1px solid #406587;
	/*background-color: #fff;*/
}
.recommend-fixed-box {
	padding: 6px;
}
.recommend-right .aside-title{
	font-size: 16px;
	color: #e7e7e7;
	border-bottom: 1px solid #394e60;
	padding: 0 12px;
	height: 38px;
	line-height: 38px;
}
.relartile  .aside-title{
	border-top: 1px solid #394e60;
}
.recommend-right .right-item {
	padding: 8px 8px 10px 8px;
	overflow: hidden;
	word-wrap: break-word;
	/*height: 56px;*/
	border-bottom: 1px dashed #394e60;
}

.postil-fixed-box .right-item{
	height: 20px;
}
.recommend-right .right-item a{color:#226c97;}

.recommend-right .right-item .right-item-desc {
	font-size: 12px;
	color: #999;
}
.recommend-right .right-item .right-item-content {
	margin-bottom: 4px;
}
.recommend-right .right-item .right-item-content span {
	/*margin-right: 8px;*/
	font-size: 12px;
	color: #999;
	letter-spacing: 0;
	line-height: 20px;
}

.file_wrap{
	overflow:hidden;/*父元素清除浮动*/
}
.file_divleft{
	float:left;
	width:200px;
	border: 1px solid #406587;
	min-height: 370px;
	max-height:578px;
}
.file_divright{
	margin-left: 210px;
}
.file_menu{
	/*background: #0d4d81;*/
	color: #ffffff;
	height: 40px;
	font-size: 18px;
	text-align: center;
	line-height:38px;
	border-bottom: 1px solid #406587;
}
.menu-btn{
	display: none;
}
.widget-box ul li .list-del{
	/*color: red;*/
	color:#9c9c9c;
	cursor:pointer;
	margin-left:4px;
}
#nav_arrow_right {
	color: #ffffff;
	width: 18px;
	position: absolute;
	cursor: pointer;
	left: -50px;
	top:164px;
	height:220px;
	text-align: center;
	background: url("../images/nav_arrow_right.png") no-repeat;
}


#tag_type{
	/*border: 1px solid #aaaaaa;
	background: #efefef;
	width:100px;*/
	float:right;
}
.file-scroll{
	overflow: auto;
	height: 536px;
}
#percenter #pizhu{
	display: inline-block;
	float:none;
	width:110px;
}
.file_list{
	margin-top:8px;
	margin-top:8px;
}
.file_list li{
	padding-left:4px;
	color:#e7e7e7;
	line-height:32px;
}
.file_list li a{
   color:#e7e7e7;
}

#lst-dym .list3 li a {
	font-size:14px;
}
.search-cond{
	/*background:#ffffff;
	border:1px solid #eeeeee;
	padding:10px;*/
	clear:both;
}
.search-cond ul li{
	line-height:28px;
}
.search-cond-title{
	font-size:16px;
	margin-bottom:8px;
}
.a_btn{
	cursor: pointer;
	text-decoration: underline;
}
#head-block{
	margin-bottom: 11px;
	border-top: 1px solid #2c3d4c;
	padding-top: 10px;
}
#resou-block{
	height:210px;
}
#rec-block{
	height:275px;
}
#docmgr-content .row{
	line-height:32px;
}
.scoreremark{
	float:left;
	margin-top:4px;
}
#com-score label{float:left;color:#e7e7e7;font-size:18px;}
#com-score .submit{margin-top:8px;}
.frs{margin-top: -8px;margin-left: -13px;}

.main-son{
	/*border: 1px solid #234f73;*/
	height: 740px;
}

#head-block .widget-title ul li{
	background: url("../images/tabSelect.png");}
#head-block .widget-title label{
	cursor: pointer;
	width: 136px;
	font-size: 24px;
	padding: 10px 1%;
	font-weight: initial;
	line-height: 40px;
}
.wid-title-bk select{
	margin-top:-96px;
	margin-left:160px;
	border:1px solid #5e9dd9;
    color:#c7c7c7;
}
.wid-line{
    border: 1px solid #5e90ca;
    margin-top: 60px;
    width: 98%;
    border:1px solid #5e90ca;/*#fffdfe;;*/}
.wid-select{float:right;margin-right:30px;color:#e7e7e7;
padding-left:8px;
	background-size: 12px;}
select option{
	background:#122432;
	border:none;
}
option::-ms-expand{ display: none; }
option{
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari 和 Chrome */
	appearance:none;
}
/* --背景色字体颜色--
option:hover{
	color:#fff;
	background-color:#1E90FF;
}*/


select {	appearance: none;border:1px solid #5e9dd9;
	-moz-appearance: none;
	-webkit-appearance: none;
	width:210px;
	/* 右侧添加小箭头的背景图 */
	background: url('../images/i-dropdown.png') 180px center no-repeat;}
select::-ms-expand { display: none; }
#zhanli:checked ~ .widget-title .zhanli, #zhanfa:checked ~ .widget-title .zhanfa{
	background: url("../images/tabChecked.png");
	/*border-bottom: 1px solid #ffffff;*/
	color: #ffffff;
	font-weight: bold;
}

.wid-item{/*height:60px !important;*/}
#zhanli:checked ~ .widget-box .zhanli-ul, #zhanfa:checked ~ .widget-box .zhanfa-ul{
	display: block;
}
#zhanli:checked ~ .widget-box .tag-ul, #zhanfa:checked ~ .widget-box .tag-ul{
	display: block;
}
.main-son-list{width: 100%;}
.sonChunk{
	/*background: url("../images/sonChunk.png");*/
	width: 600px;
	height: 319px;
	margin-left: 20px;
	float: left;
	margin-bottom: 20px;
	background-size: contain;
}
#head-block .u-con-list{
	width: 95%;
	margin-left: 1%;
}
#head-block .u-con-list .one-line{border-bottom: 1px dashed #e0e0e0;}
#head-block .u-con-list .one-line .label{text-align: center;width: 120px;line-height: 45px;}
#head-block .u-con-list .one-line .tag-li{border: 0px;height: 35px;line-height: 35px;margin-left: 15px;}
#resou-doc .col3, #recom-doc .col3{width:24%;margin-left:10px;}
#recom-doc .col3 .list1{
	line-height: 22px;
}
#recom-doc .right-item {
	padding: 5px 8px 13px 8px;
	overflow: hidden;
	word-wrap: break-word;
	height: 55px;
	border-bottom: 1px dashed #e0e0e0;
}
#recom-doc.right-item a{color:#226c97;}

#recom-doc .right-item .right-item-desc {
	font-size: 12px;
	color: #999;
}
#recom-doc .right-item .right-item-content span {
	margin-right: 8px;
	font-size: 12px;
	color: #999;
	letter-spacing: 0;
	line-height: 20px;
}
.right-item-content .time{float:right;}
.main .navLeft li span.dicLabel{background-image: url("../images/dicLabel.png");}
.main .navLeft li span.logLabel{background-image: url("../images/logLabel.png");}
#docmgr-content .row ul li.owner_btn:hover{color:#00a2d4;}
#docmgr-content .row ul li.format_btn:hover{color:#00a2d4;}
.noInfo{color: #999}
#rm-tab:checked ~ .widget-title .rm-tab, #dym-tab:checked ~ .widget-title .dym-tab{
	background: url("../images/tabChecked.png");
	color: #ffffff;
	font-weight: bold;
}

#rm-tab:checked ~ .widget-box .list-rm-div, #dym-tab:checked ~ .widget-box .list-dym-div{
	display: block;
	/*border:1px solid #3890ae;*/.right-item
	margin-right:-20px;
}
.dynamiclist {
	width: 96%;
	margin-left: 8px;
	float:right;
	margin-top:-20px;
}
.zhanli-ul .dynamiclist,.zhanfa-ul .dynamiclist{
	margin-top:-30px;
}


.dynamiclist .aside-title{
	font-size: 14px;
	color: #3d3d3d;
	padding: 0 12px;
	height: 38px;
	line-height: 38px;
}
.dynamiclist .right-item {
	padding: 0px 8px 10px 8px;
	overflow: hidden;
	word-wrap: break-word;
	/*height: 56px;*/
	border-bottom: 1px dashed #394e60;
	width:90%;
}
.dynamiclist .right-item a{color:#226c97;}

.dynamiclist .right-item .right-item-desc {
	font-size: 14px;
	color: #999;
}
.dynamiclist .right-item .right-item-content {
	margin-bottom: 4px;
}
.dynamiclist .right-item .right-item-content span {
	margin-right: 8px;
	font-size: 16px;
	/*color: #999;*/
	letter-spacing: 0;
	line-height: 20px;
	margin-left:4px;
}
.line_two_li{
	font-size:16px;
	width:840px;
}
#sDatatime,#eDatatime{
	width:100px;
}
.clear-btn{
	border:1px solid #cccccc;
	background:#cccccc;
	margin-top:10px;
}

#nearread{
    scrollbar-arrow-color: #f4ae21; /**//*三角箭头的颜色*/
    scrollbar-face-color: #333; /**//*立体滚动条的颜色*/
    scrollbar-3dlight-color: #666; /**//*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #666; /**//*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #999; /**//*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #666; /**//*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #666; /**//*立体滚动条背景颜色*/
    scrollbar-base-color:#f8f8f8; /**//*滚动条的基本颜色*/

    scrollBar-face-color:green;
    scrollBar-hightLight-color:red;
}
.scrolls::-webkit-scrollbar{
    width:8px;
    height:8px;
    background-color: #61B6EB;
}
.scrolls::-webkit-scrollbar-track{
    background: #213147;
    border-radius:2px;
}
.scrolls::-webkit-scrollbar-thumb{
    background: #61B6EB;
    border-radius:2px;
}
.scrolls::-webkit-scrollbar-thumb:hover{
    background: #61B6EB;
}
.scrolls::-webkit-scrollbar-corner{
    background: #61B6EB;
}

.mydoc-title{
	width: 100px;float: left;padding: 10px 20px;
   font-size:18px;
}
.mydoc-item{
	height: 50px;
	display: block;
	line-height: 100px;
	padding-top: 6px;
	padding-left:12px;
}
.wid-title-block{
	margin-top:14px;
}
.wid-border{
	/*border:1px solid #336b9e;*/
	background:url("../images/wid-bk1.png");
	background-size:100% 100%;
	height:319px;
	margin-top:50px;
	margin-left:9%;
	float:left;
	min-width:40%;
}
.wid-more{
	float: right;
	color:#dfe2e4;
	line-height: 32px;
	padding-right:10px;
	font-size:14px;
}
.wid-cicle{
	float:left;margin-left:-80px;margin-top:-26px;width:135px;height:146px;background:url('../images/icon-type.png')
}
.wid-title-bk{
	width: 161px;
	height: 32px;
	background: url('../images/icon-type-line.png');
	margin-top: -8px;
	display:none;
}
.wid-title{
	z-index: 999;
	font-size: 24px;
	color: #ffc000;
	margin-top: 50px;
	margin-left: 16px;
}
.wid-num{
	font-size: 18px;
	color: #ff7800;
	margin-left: 50px;
	margin-top: 8px;
}

.rm-tab:checked ~ .widget-title .rm-tab, .rm-tab:checked ~{
	background: url("../images/tabChecked.png");
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	font-weight: bold;
}

.idx_box_list .widget-box{
	height:518px;
}
.cmd-btn-list li{
	float:left;
}

.i-doc-block{
	height: 20px;
	display: block;
	width: 10px;
	background: #006ec2;
	float: left;
	margin-top: 5px;
	margin-right: 8px;
}
.div-top-line{
	border-top: 1px solid #1e2c38;
	margin-top: 20px;
	height: 20px;
}
.right-item-content .doc-title{
	color:#e7e7e7;
}
#percenter .main .r-content,#tagmgr .main .r-content{height:970px;}
.doc-detail,.doc-del,.user-edit{cursor:pointer;}
.file_selectlist li a{color:#e7e7e7;}

.dir-content{
	height:400px;
	overflow-y:auto;
}
.tip{
	color:red;
}

.search-con span.label{
	line-height:32px;
	height:32px;
}