<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.phoibe.doc.cms.dao.PhoibeDictMapper">
  <resultMap id="BaseResultMap" type="me.phoibe.doc.cms.domain.po.PhoibeDict">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="DICT_KEY" jdbcType="VARCHAR" property="dictKey" />
    <result column="DICT_NAME" jdbcType="VARCHAR" property="dictName" />
    <result column="GROUP_KEY" jdbcType="VARCHAR" property="groupKey" />
    <result column="ORDER_BY" jdbcType="DECIMAL" property="orderBy" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DICT_KEY, DICT_NAME, GROUP_KEY, ORDER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PHOIBE_DICT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PHOIBE_DICT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="me.phoibe.doc.cms.domain.po.PhoibeDict">
    insert into PHOIBE_DICT (ID, DICT_KEY, DICT_NAME, 
      GROUP_KEY, ORDER_BY)
    values (#{id,jdbcType=DECIMAL}, #{dictKey,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, 
      #{groupKey,jdbcType=VARCHAR}, #{order,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="me.phoibe.doc.cms.domain.po.PhoibeDict">
    insert into PHOIBE_DICT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="dictKey != null">
        DICT_KEY,
      </if>
      <if test="dictName != null">
        DICT_NAME,
      </if>
      <if test="groupKey != null">
        GROUP_KEY,
      </if>
      <if test="order != null">
        ORDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="dictKey != null">
        #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="groupKey != null">
        #{groupKey,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.phoibe.doc.cms.domain.po.PhoibeDict">
    update PHOIBE_DICT
    <set>
      <if test="dictKey != null">
        DICT_KEY = #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        DICT_NAME = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="groupKey != null">
        GROUP_KEY = #{groupKey,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        ORDER = #{order,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.phoibe.doc.cms.domain.po.PhoibeDict">
    update PHOIBE_DICT
    set DICT_KEY = #{dictKey,jdbcType=VARCHAR},
      DICT_NAME = #{dictName,jdbcType=VARCHAR},
      GROUP_KEY = #{groupKey,jdbcType=VARCHAR},
      ORDER_BY = #{order,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <sql id="selectByPage_Condition_Sql" >
    <where>
      1=1
      <if test="param.dictName != null and param.dictName != ''">
        and DICT_NAME = #{param.dictName,jdbcType=VARCHAR}
      </if>
      <if test="param.groupKey != null and param.groupKey != ''">
        and GROUP_KEY = #{param.groupKey,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="selectByPage" parameterType="me.phoibe.doc.cms.domain.po.PageParam" resultMap="BaseResultMap">
    select * from (SELECT a.*,rownum rno FROM (
    select
    <include refid="Base_Column_List" />
    from PHOIBE_DICT
    <include refid="selectByPage_Condition_Sql"/>
    ORDER BY ORDER_BY ) a
    ) t WHERE t.rno BETWEEN (#{start}*#{limit}+1) AND (#{start}*#{limit}+#{limit})
  </select>
  <select id="selectCountByPage" parameterType="me.phoibe.doc.cms.domain.po.PageParam" resultType="long">
    select
    count(*)
    from PHOIBE_DICT
    <include refid="selectByPage_Condition_Sql"/>
  </select>
</mapper>