<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>文档详情</title>
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/data.js"></script>
    <script src="js/management.js"></script>
    <script src="js/docdetail.js"></script>
    <script src="js/layui.js"></script>

    <link href="js/webuploader-0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
    <!-- 引入文件上传插件 -->
    <script type="text/javascript" src="js/webuploader-0.1.5/webuploader.min.js"></script>
    <script src="js/noteuploadForm.js"></script>
    <script type="text/javascript" src="js/nicescroll.js"></script>
    <link rel="stylesheet" href="css/management.css"/>
    <link rel="stylesheet" href="css/layui.css">
</head>
<body>
<div id="docdetail">
    <div class="main box_border" style="overflow: auto">
        <div class="container box_border r-content main-box">

            <div class="bg_whiteSD box_border top inputblock">
                <div class="info_div">
                    <div class="content_divcontent">
                        <div class="content_div">
                            <span><a class="btn-back btn" id="back" target="_blank" status=0>返回</a></span>
                        <div class="blog-content-box">
                            <div class="article-header-box">
                                <div class="article-header">
                                    <div class="article-title-box">
                                        <h1 class="title-article" id="doctitle"></h1>
                                    </div>
                                    <div class="article-info-box">
                                        <div class="article-bar-top" style="height: auto;">
                                            <span id="date"></span>
                                            <span id="warstype"></span>
                                            <span id="corpstype"></span>
                                            <span ><a class="follow-nickName owner" href="" target="_self"></a>
                                                &nbsp;<a class="btn-attention btn attention" id="attention" target="_blank" status=0>订阅</a></span>
                                            <span id="comment"></span>
                                            <span id="score"></span>
                                            <span>
                                            <a class="btn-favorite btn" id="favorite" target="_blank" status=0>收藏文章</a>
                                        </span>
                                            <div class="tags-box space">
                                                <span class="label">文章标签：</span>
                                            </div>
                                        </div>
                                        <div class="operating">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="article_content" class="article_content">
                                <div id="doc-content">
                                </div>
                                <span>
                                    <a id="format"></a>
                                    <a class="btn-preview btn" id="preview" target="_blank">查看</a>
                                    <a class="btn-download btn" id="download">下载</a>
                                    <a class="btn-uploadpostil btn" id="uploadnote">上传批注</a>
                                </span>
                            </div>
                            <script>
                                $(function () {
                                    function setArticleH(btnReadmore, posi) {
                                        var winH = $(window).height();
                                        var articleBox = $("div.article_content");
                                        var artH = articleBox.height();
                                        if (artH > winH * posi) {
                                            articleBox.css({
                                                'height': winH * posi + 'px',
                                                'overflow': 'hidden'
                                            })
                                            btnReadmore.click(function () {
                                                articleBox.removeAttr("style");
                                                $(this).parent().remove();
                                            })
                                        } else {
                                            btnReadmore.parent().remove();
                                        }
                                    }
                                })
                            </script>
                        </div>
                    </div>
                    <div class="comment_div">
                        <div class="comment-list-box" style="max-height: none;">
                            <h5>目前还没有人评论...</h5>
                        </div>
                        <div id="notice_pages"></div>
                    </div>
                        <div class="commentinput_div">
                            <div id="com-score">
                                <label>评分：</label>
                                <span class="scoreremark">
                                    <ul>
                                    <li class="light"><a href="javascript:;">1</a></li>
                                    <li><a href="javascript:;">2</a></li>
                                    <li><a href="javascript:;">3</a></li>
                                    <li><a href="javascript:;">4</a></li>
                                    <li><a href="javascript:;">5</a></li>
                                    </ul>
                                    </span>
                                <span>
                                    <a class="btn btn-submit " id="submit1">提交</a>
                                </span>
                            </div>
                            <textarea rows="5" placeholder="输入您的评论,最多可输入100字" maxlength="100"id="comment-content"
                                      name="comment-content"></textarea>
                            <input type="hidden" id="comentscore" value="1"/>
                        </div>
                </div>
                    <div class="recommend-right">
                        <div class="userpostil">
                        <div class="row-title">
                            <h3 class="aside-title">文档批注</h3>
                            <a class="wid-more" href="javascript:pizhumore();">更多&gt;&gt;</a>
                        </div>
                        <ul id="detial-pizhu" class="postil-fixed-box">

                        </ul>
                        </div>
                        <div class="relartile">
                            <div class="row-title">
                                <h3 class="aside-title">相关文章</h3>
                            </div>
                        <ul class="recommend-fixed-box">
                        </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>

        <div id="file-upload-note" class="bodyMask">
            <div class="mask">
                <span class="fullScreen"></span>
                <div class="popup">
                    <div class="title">
                        <div class="model-title fl">上传批注</div>
                        <i class="filelist_closed closed fr"></i>
                    </div>
                    <div class="clearfix"></div>
                    <div class="line"></div>
                    　<br/>

                    <ul class="u-con-list">
                        <li class="one-line" id="docfileline"><span class="label">文档：</span><span id="picker" class="label">选择文件</span>
                            <div id="uploader" class="wu-example">
                                <div class="wu-example">
                                    <div id="formthelist" class="uploader-list"></div>
                                    <div id="filebtn">
                                        <span class="stopBtn" style="cursor: pointer;">暂停</span>
                                        <span class="continueBtn" style="cursor: pointer;">继续</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    <form action="phoibe/userPostil/save" method="post" id="ajaxform">
                    <input type="hidden" name="docId" id="docId"><input type="hidden" name="docName" id="docName">
                    </form>

                        <li class="one-line">

                                    <div class="ctrl">
                                        <div id="submit" class="submit ctlBtn filelist_submit"></div>
                                    </div>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
</body>
</html>