﻿<!DOCTYPE html>
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<head lang="en">
<meta charset="UTF-8">
<title>文档管理</title>
<link rel="stylesheet" href="css/management.css" />
<script src="js/jquery-2.1.0.min.js"></script>
	<script src="js/data.js"></script>
	<script src="js/index.js"></script>
	<script src="js/sonCunkLoad.js"></script>
	<script language="javascript" type="text/javascript" src="js/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
	<div id="index-m">
		<div class="main box_border">
			<div class="container box_border">
				<div class="box_border r-content">
					<div class="bg_whiteSD box_border search">
						<div class="inputBox">
							<input type="text" class="box_border" id="search-key"  placeholder="请输入搜索内容" autocomplete="on" list="userSearchList"  />
							<datalist id="userSearchList">
							</datalist>
							<span class="btnSearch" id="btnSearch"></span><span id="condif">高级查询</span>
							<ul class="line_two_li">
								<li>
									<ul id="serachType" class="line-li"><li>类别：
										<a class='line-li' href='#' format="doc,docx,pdf,txt,rmvb,avi,mp4,3gp,wav,mp3">全部</a><a class='line-li' href='#' format="doc,docx,pdf,txt">文本</a><a class='line-li' href='#' format="rmvb,avi,mp4,3gp,wav,mp3">音频</a></li>
									</ul>
									<ul id="hotSerach" class="line-li">热门：</ul>
								</li>
							</ul>

						</div>
					</div>
					<div class="content box_border">
						<div class="box_border left">
							<div class="widget widget-tab"  id="head-block">
								<input type="radio" name="widget-tab" value="2" id="zhanli" checked="checked"
									   style="display:none;"/>
								<input type="radio" name="widget-tab" value="3" id="zhanfa" style="display:none;"/>
								<div class="widget-title inline-ul">
									<ul>
										<li class="zhanli">
											<label for="zhanli">战例</label>
										</li>
										<li class="zhanfa">
											<label for="zhanfa">战法</label>
										</li>
										</li >

									</ul>
								</div>
								<div class="widget-box ">
									<div class="main-son">
										<ul id="zhanli-ul" class="zhanli-ul main-son-list">

													</div>
											</div>
											</li>
											<li class="sonChunk"><span class="label">作战规模</span>
												<ul class="scale tag-ul">
													<li class="tag-li" dictkey="89">1~5万</li>
													<li>
														<select id="" name="">
															<option class="tag-li" value="89">美国</option>
														</select>
													</li>
												</ul>
											</li>
											<li class="sonChunk"><span class="label">作战地域</span>
												<ul class="environment tag-ul">
													<li class="tag-li" dictkey="89">平原作战</li>
													<li>
														<select id="" name="">
															<option class="tag-li" value="89">美国</option>
														</select>
													</li>
												</ul>
											</li>
											<li class="sonChunk">
												<div class="chunk_title">
													<span class="label">作战年代</span>
												</div>
												<div class="chunk_select">
													<select  name="">
														<option class="tag-li" value="89">美国</option>
													</select>
												</div>
												<div class="chunk_content">
													<div class="">
														<ul style="display: block">
															<li class=''>
																<a href='' target='_blank'>
																	<div class=''>
																		<h5><span class='time'>&nbsp;&nbsp;&nbsp;&nbsp;标题标题标题标题</span></h5>
																	</div>
																	<div class=''>内容内容内容内容内容内容内容内容内容内容内容内容内容内容</div>
																</a>
															</li>
															<li class=''>
																<a href='' target='_blank'>
																	<div class=''>
																		<h5><span class='time'>&nbsp;&nbsp;&nbsp;&nbsp;标题标题标题标题</span></h5>
																	</div>
																	<div class=''>内容内容内容内容内容内容内容内容内容内容内容内容内容内容</div>
																</a>
															</li>
															<li class=''>
																<a href='' target='_blank'>
																	<div class=''>
																		<h5><span class='time'>&nbsp;&nbsp;&nbsp;&nbsp;标题标题标题标题</span></h5>
																	</div>
																	<div class=''>内容内容内容内容内容内容内容内容内容内容内容内容内容内容</div>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</li>
										</ul>
										<ul  id="zhanfa-ul" class="zhanfa-ul main-son-list">

										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="box_border rightAb">

							<div class="bg_whiteSD idx_box_list">
								<div class="font16 title">
									<div style="width: 100px;float: left;padding: 10px 20px;">
										我的文档</div>
									<div id="upload"></div>
								</div>
								<div style="border-bottom: 1px dashed #2c6392;margin-top: 20px;width: 90%;margin-left: 10px;">

								</div>
								<div class="list4">
									<div class="mydoc-item">
										<div id="borwse"><a></a></div>
										<div id="doneUpload"><a></a></div>
									</div>
									<div class="mydoc-item">
										<div id="myFavorite"><a></a></div>
										<div id="pizhu"><a></a></div>
									</div>
								</div>
							</div>
							<div class="idx_box_list  widget-tab">
								<input type="radio" name="list-tab" value="1" id="rm-tab" checked="checked" style="display:none;"/>
								<input type="radio" name="list-tab" value="2" id="dym-tab" style="display:none;"/>
								<div class="widget-title inline-ul">
									<ul>
										<li class="rm-tab">
											<label for="rm-tab">热门专区</label>
										</li>
										<li class="dym-tab">
											<label for="dym-tab">最新动态</label>
										</li>
									</ul>
								</div>
								<div class="widget-box">
									<ul class="list-rm-div">
										<li>
												<div id="lst-rm" class="dynamiclist">
												</div>

										</li>
									</ul>

									<ul class="list-dym-div">
										<li>
											<marquee align="left" behavior="scroll" direction="up" height="510px"
													 width="100%"
													 loop="-1" scrollamount="10" scrolldelay="300"
													 onMouseOut="this.start()"
													 onMouseOver="this.stop()">
												<div id="lst-dym" class="dynamiclist">
												</div>
											</marquee>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>

        <div class="cleafix"></div>
    </div>

    <div class="bodyMask" id="condwhere">
     <div class="mask" >
		 <div class="popup">
			 <div class="title">
				 <div class="model-title fl">查询条件</div>
				 <i class="closed fr"></i>
			 </div>
			 <div class="clearfix"></div>
			 <hr />
			 <br/>
			 <div class="bg_whiteSD box_border">
				 <div class="clearfix">
					 <ul class="u-con-list">
						 <li class="one-line">
							 <ul>
								 <li><span class="label">文档类型：</span>
									 <div class="formradio"><label><input type="radio" style="width: 10px" name="doctype" value="1" >战例</label></div>
									 <div class="formradio"><label><input type="radio" style="width: 10px" name="doctype" value="2" >战法</label></div>
								 </li>
							 </ul>
						 </li>
						 <li class="one-line">
							 <ul>
								 <li><span class="label">文档名称：</span>
									 <input type="text" id="docname"/></li>
								 <li><span class="label">文档作者：</span>
									 <input type="text" id="owner"/></li>
							 </ul>
						 </li>
						 <li class="one-line">
							 <ul>
								 <li><span class="label">参战国家：</span>
									 <select id="warstate" name="warstate">
									 </select>
								 </li>
								 <li><span class="label">作战地域：</span>
									 <select id="waraddr" name="waraddr">
									 </select>
								 </li>
							 </ul>
						 </li>
						 <li class="one-line">
							 <ul>
								 <li><span class="label">战例类型：</span>
									 <select id="warstype" name="warstype">
									 </select>
								 </li>
								 <li><span class="label">参战兵种：</span>
									 <select id="corpstype" name="corpstype">
									 </select>
								 </li>
							 </ul>
						 </li>
						 <li class="one-line">
							 <ul>
								 <li><span class="label">参战年代：</span>
									 <select id="fighttime" name="fighttime">
									 </select>
								 </li>
								 <li><span class="label">伤亡人数：</span>
									 <select id="warnum" name="warnum">
									 </select>
								 </li>
							 </ul>
						 </li>
						 <li class="one-line">
							 <ul>
								 <li><span class="label">战法类别：</span>
									 <select id="fighttype" name="fighttime">
									 </select>
								 </li>
								 <li><span class="label">战斗种类：</span>
									 <select id="combattype" name="combattype">
									 </select>
								 </li>
							 </ul>
						 </li>
						 <li class="one-line">
							 <ul>
								 <li><span class="label">作战特点：</span>
									 <select id="fighttrait" name="fighttrait">
									 </select>
								 </li>
							 </ul>
						 </li>
						 <li class="one-line">
							 <ul>
								 <li><span class="label">胜利方：</span>
									 <input type="text" id="winner" name="winner"/>
								 </li>
								 <li><span class="label">失败方：</span>
									 <input type="text" id="loser" name="loser"/>
								 </li>
							 </ul>
						 </li>
						 <li class="one-line"><span class="label">标签：</span>
							 <ul class='tag-ul tagtype'></ul>
						 </li>
						 <li class="one-line"><input type="hidden" id="userId"/></li>
					 </ul>

				 </div>

				 <div class="pop-btn">
					 <span  class="btnSearch" style="margin-right: 50px;"></span>
				 </div>
			 </div>

		 </div>
          </div>
</div>

	<script src="js/management.js"></script>

</body>
</html>