<!DOCTYPE html>
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<head lang="en">
<meta charset="UTF-8">
<title>文档管理</title>
<link rel="stylesheet" href="css/management.css" />
<script src="js/jquery-2.1.0.min.js"></script>
	<script src="js/data.js"></script>
<script src="js/index.js"></script>
	<script language="javascript" type="text/javascript" src="js/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
	<div id="index-m">
		<div class="main box_border">
			<div class="container box_border">
				<div class="box_border r-content">
					<div class="bg_whiteSD box_border search">
						<div class="inputBox">
							<input type="text" class="box_border" id="search-key"  placeholder="请输入搜索内容" autocomplete="on" list="userSearchList"  />
							<datalist id="userSearchList">
							</datalist>
							<span class="btnSearch" id="btnSearch"></span><span id="condif">高级查询</span>
							<ul class="line_two_li">
								<li>
									<ul id="serachType" class="line-li"><li>类别：
										<a class='line-li' href='#' format="doc,docx,pdf,txt,rmvb,avi,mp4,3gp,wav,mp3">全部</a><a class='line-li' href='#' format="doc,docx,pdf,txt">文本</a><a class='line-li' href='#' format="rmvb,avi,mp4,3gp,wav,mp3">音频</a></li>
									</ul>
									<ul id="hotSerach" class="line-li">热搜：</ul>
								</li>
							</ul>

						</div>
					</div>
					<div class="content box_border">
						<div class="box_border left">
							<div class="box_border bg_whiteSD" id="resou-block">
								<div class="plateHeader resou font16 i-sign fl">精品专区</div><a class="fr" href="searchadv.html">更多</a>
								<div class="clearfix"></div>
								<div id="resou-doc"></div>
							</div>
							<div class="box_border bg_whiteSD" id="rec-block">
								<div class="plateHeader jingpin font16 i-sign fl">热搜专区</div><a class="fr" href="searchadv.html">更多</a>
								<div class="clearfix"></div>
								<div id="recom-doc"></div>
							</div>
						</div>
						<div class="box_border rightAb">
							<div class="dataword box_border">
								<div class="font18 i-sign">战法数据文档</div>
								<div class="bkline"></div>
								<div class="dw-bk">
									<ul>

									</ul>
								</div>
							</div>
                            <div class="bg_whiteSD idx_box_list">
                                <!--<div class="index-head-bg">
                                    <img class="index-head" src="images/index-head.png"/><span class="userName">李明,你好</span>
                                </div>-->
								<div class="font16 title i-sign">我的文档（<a href="#" id="userdocnum" target='_self'></a>）</div>
                                <ul class="list3" id="zgzhanfa">

                                </ul>
                                <div class="clearfix"></div>
                                <div id="upload"></div>

                            </div>
                            <div class="bg_whiteSD idx_box_list">
                                <div class="font16 title i-sign">最新动态</div>
								<marquee id="affiche" align="left" behavior="scroll" direction="up" height="380px" width="100%" loop="-1" scrollamount="10" scrolldelay="300" onMouseOut="this.start()" onMouseOver="this.stop()">
									<div id="lst-dym">
									</div>
								</marquee>
                            </div>
						</div>
					</div>
				</div>
			</div>
	    </div>

        <div class="cleafix"></div>
    </div>

    <div class="bodyMask" id="condwhere">
     <div class="mask" >
		 <div class="popup">
			 <div class="title">
				 <div class="model-title fl">查询条件</div>
				 <i class="closed fr"></i>
			 </div>
			 <div class="clearfix"></div>
			 <hr />
			 <br/>
			 <div class="bg_whiteSD box_border">
				 <div class="clearfix">
					 <ul class="u-con-list">
						 <li class="one-line">
							 <ul>
								 <li><span class="label">文档名称：</span>
									 <input type="text" id="docname"/></li>
								 <li><span class="label">文档作者：</span>
									 <input type="text" id="owner"/></li>
							 </ul>
						 </li>
						 <li class="one-line">
							 <ul>
								 <li><span class="label">参战国家：</span>
									 <input type="text" id="warstate"/></li>
								 <li><span class="label">参战地点：</span>
									 <input type="text" id="waraddr"/></li>
							 </ul>
						 </li>
						 <li class="one-line">
							 <ul>
								 <li><span class="label">参战开始时间：</span>
									 <input id="wartime_start" type="text" onClick="WdatePicker()" data-value="">
								 <li><span class="label">参战结束时间：</span>
									 <input id="wartime_end" type="text" onClick="WdatePicker()" data-value="">
							 </ul>
						 </li>
						 <li class="one-line">
							 <ul>
								 <li><span class="label">胜利方：</span>
									 <input type="text" id="winner"/></li>
								 <li><span class="label">失败方：</span>
									 <input type="text" id="loser"/></li>
							 </ul>
						 </li>
						 <li class="one-line">
							 <ul>
								 <li><span class="label">伤亡人数:</span>
									 <input type="text" id="warnum"/></li>
								 <li><span class="label">伤亡人数:</span>
									 <input type="text" id="warnum1"/></li>
							 </ul>
						 </li>
						 <li class="one-line"><span class="label">战例类型：</span>
							 <ul class="wartype tag-ul"></ul>
						 </li>
						 <li class="one-line"><span class="label">兵种类型：</span>
							 <ul class="armtype tag-ul"></ul>
						 </li>
						 <li class="one-line"><span class="label">标签：</span>
							 <ul class="tagtype tag-ul"></ul>
						 </li>
						 <li class="one-line"><input type="hidden" id="userId"/></li>
					 </ul>

				 </div>

				 <div class="pop-btn">
					 <span  class="btnSearch" style="margin-right: 50px;"></span>
				 </div>
			 </div>

		 </div>
          </div>
</div>

	<script src="js/management.js"></script>
   
</body>
</html>