<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>日志管理</title>
    <link rel="stylesheet" href="css/management.css"/>
	<link rel="stylesheet" href="css/layui.css">
	<script src="js/jquery-2.1.0.min.js"></script>
        <script src="js/laydate/laydate.js"></script>
	<script src="js/layui.js"></script>
    <script src="js/data.js"></script>
    <script src="js/logmgr.js"></script>
    <style>
        .tbl-row .ctrl{color:#e7e7e7;}
    </style>
    <script language="javascript" type="text/javascript" src="js/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
    <div id="tagmgr">
        <div class="main box_border">
            <div class="container box_border r-content">
                    <div class="bg_whiteSD box_border search inputblock">
                    <div class="plateHeader i-logmgr"></div>
                        <ul class="search-con"><li>开始时间：
                            <input id="startdate" type="text" onClick="WdatePicker()" style="width:90px" data-value="">
                            &nbsp;&nbsp;&nbsp;&nbsp;结束时间：
                            <input id="enddate" type="text" onClick="WdatePicker()" style="width:90px" data-value="">
                        </li><li>    <span class="btnSearch" id="btnSearch"></span></li>
                        </ul>
                    </div>
               <div class="line"></div>
               <div class="list-content">
                       <div class="box_border">
					    <div class="btn-cmd-list">
					        <a id="btnexport">导出</a>&nbsp;&nbsp;
                            <a id="btnbackup">备份</a>&nbsp;&nbsp;
                            <a id="btndel">删除</a> </div>
                           <br/>

                             <table class="tblist" border="0">
                                 <tr class="tblist-header">
                                     <th style="width: 30px;"><input class="checkAll" name="checkAll" type="checkbox"></th>
                                     <th>功能模块</th>
                                     <th>操作类型</th>
                                     <th>日志信息</th>
                                     <th>用户信息</th>
                                     <th>访问IP</th>
                                     <th>记录时间</th>
                                     <th>操作</th>
                                 </tr>
                                  <tbody id="tblist-body"></tbody>
                             </table>
							   <div id="notice_pages"></div>
						</div>
               </div>
             </div>
            </div>
    </div>
    <div class="export_bodyMask">
        <div class="mask">
            <span class="fullScreen"></span>
            <div class="popup">
                <div class="title">
                <div class="model-title fl">时间范围</div>
                <i class="export_closed closed fr"></i>
                </div>
                <div class="clearfix"></div>
                <div class="line"></div>
                　
                <form action="#" method="POST" id="ajaxform">
                    <div class="tbl-row">
                        <div class="lable">*选择时间范围:</div>
                        <div class="ctrl">
                            开始时间：
                            <input id="sDatatime" type="text" onClick="WdatePicker()"  class="inputBox" >
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            结束时间：
                            <input id="eDatatime" type="text" onClick="WdatePicker()"  class="inputBox">
                        </div>
                    </div>
                    <div class="tbl-row">
                        <div class="ctrl">
                            <div id="down_submit" class="filelist_submit"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>