﻿<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>搜索文档</title>
	<script src="js/jquery-2.1.0.min.js"></script>
	<script src="js/data.js"></script>
	<script src="js/search.js"></script>
	<script src="js/layui.js"></script>
	<link rel="stylesheet" href="css/layui.css">
	<link rel="stylesheet" href="css/management.css" />
</head>
<body>
<div id="docmgr">
	<div class="main box_border">
		<div class="container box_border  r-content">
			<div class="box_border">
				<div class="bg_whiteSD box_border search">
					<div class="inputBox">
						<input type="text" class="box_border" id="search-key"  placeholder="请输入搜索内容" autocomplete="on" list="userSearchList"  />
						<datalist id="userSearchList">
						</datalist>
						<span class="btnSearch" id="btnSearch"></span><span id="condif">高级查询</span>
						<ul class="line_two_li">
							<li>
								<ul id="serachType" class="line-li"><li>类别：</li>
									<a class='line-li' href='#' format="doc,docx,pdf,txt">文章</a>
									<a class='line-li' href='#' format="rmvb,avi,mp4,3gp,wav,mp3">音频</a>
								</ul>
								<ul id="hotSerach" class="line-li">热搜：</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content box_border top bg_whiteSD">
			<div class="search-cond">
				<div  style="height: 40px;"><span style="float: left;line-height: 40px;">战例类型：</span><ul id="wartype" class="tag-ul"></ul></div>
				<div  style="height: 40px;"><span style="float: left;line-height: 40px;">兵种类型：</span><ul id="armtype" class="tag-ul"></ul></div>
			</div>

			</div>
			<div class="content box_border top bg_whiteSD">
				<div class="box_border">
					<div id="docmgr-content"></div>
					<div id="notice_pages"></div>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="bodyMask" id="condwhere">
	<div class="mask" >
		<div class="popup">
			<div class="model-title fl">高级查询</div>
			<i class="closed fr"></i>
			<div class="clearfix"></div>
			<hr />
			<br/>
			<div class="bg_whiteSD box_border">
				<div class="clearfix">
					<ul class="u-con-list">
						<li class="label">文档名称：</li><li><input type="text" id="docname" /></li>
						<li class="label">文档作者：</li><li><input type="text" id="owner" /></li>
						<li class="label">参战国家：</li><li><input type="text" id="warstate" /> </li>
						<li class="label">参战地点：</li><li><input type="text" id="waraddr" /> </li>
						<li class="label">参战开始时间：</li><li><input type="text" id="wartime_start" />  </li>
						<li class="label">参战结束时间：</li><li><input type="text" id="wartime_end" /> </li>
						<li class="label">胜利方：</li><li><input	type="text" id="winner" /></li>
						<li class="label">失败方：</li><li><input type="text" id="loser" /></li>
						<li class="label">伤亡人数:</li><li><input type="text" id="warnum" /></li>
						<li class="label">标签：</li><li><select id="tagtype">
						<input type="hidden" id="userId" />
					</select></li>
					</ul>
				</div>
				<div style="width: 100%;height: 10px;">
					<span href="#" target="_blank" class="btnSearch" style="margin-right: 70px;"></span>
				</div>
			</div>

		</div>
	</div>
</div>
<script src="js/management.js"></script>
</body>
</html>