<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>入库管理</title>
    <script src="js/laydate/laydate.js"></script>
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/data.js"></script>
    <script src="js/stockmgr.js"></script>
    <script src="js/layui.js"></script>
    <script language="javascript" type="text/javascript" src="js/My97DatePicker/WdatePicker.js"></script>
    <link rel="stylesheet" href="css/management.css"/>
    <link rel="stylesheet" href="css/layui.css">
</head>
<body>
<div id="stockmgr">
    <div class="main box_border">
        <div class="container box_border r-content">
            <div class="box_border">
                <div class="bg_whiteSD box_border search inputblock">
                    <div class="plateHeader i-stock"></div>
                    <div class="sidebar">

                        <div class="widget widget-tab">
                            <input type="radio" name="widget-tab" id="check" value="1" checked="checked"
                                   style="display:none;"/>
                            <input type="radio" name="widget-tab" id="done" value="2" style="display:none;"/>
                            <div class="widget-title inline-ul">
                                <ul>
                                    <li class="check">
                                        <label for="check" id="docCheck">待入库</label>
                                    </li>
                                    <li class="done">
                                        <label for="done" id="docDone">已入库</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget-box">
                                <ul class="check-list done-list search-con">
                                    <li>战法文档:<input type="text" id="docname"/></li>
                                    <li>上传人:<input type="text" id="owner" style="width:90px"/></li>
                                    <li>入库时间:
                                        <input id="startdate" type="text" onClick="WdatePicker()" style="width:90px" data-value="">
                                        -
                                        <input id="enddate" type="text" onClick="WdatePicker()" style="width:90px" data-value="">
                                    </li>
                                    <li><span class="btnSearch" id="btnSearch"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-content">
                <div class="box_border">
                    <div class="addstock" id="btnaddstock"></div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="delstock" id="btndelstock"></div>
                    <br/> <br/>
                    <table class="tblist" border="0" id="tblist-content">
                        <tr id="t-header" class='tblist-header'>
                            <th style="width:50px"></th>
                            <th>ID</th>
                            <th>战法文档</th>
                            <th>大小</th>
                            <th>上传人</th>
                            <th>审批时间</th>
                            <th>审核人</th>
                            <th>入库时间</th>
                            <th>入库人</th>
                            <th>文档状态</th>
                            <th>操作</th>
                        </tr>
                        <tbody id="tblist-body"></tbody>
                    </table>
                    <div id="notice_pages"></div>
                </div>

            </div>
        </div>

    </div>

</div>
</div>

<script src="js/management.js"></script>
</body>
</html>